################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ardal/obj
/.vs/ardal/v15/.suo
/.vs/ardal/v15/.suo
/Ardal/bin/Debug/netcoreapp1.1
/.vs
